:root {
  --bg-color: rgb(20, 20, 20);
  --chip-color: rgb(23, 23, 23);

}



table,td,tr,th {
  border: 0px;
}

#chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#chips:hover > .chip::after {
  opacity: 1;
}

.chip {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.chip:hover::before {
  opacity: 1;
}

.chip::before,
.chip::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.chip::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.chip::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.chip > .chip-content {
  background-color: var(--chip-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra chip content styles ↓ ↓ ↓ -- */

div.chips, .assinfo {
  color: rgb(240, 240, 240);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

i {  
  color: rgb(240, 240, 240);
}

.chip-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.chip-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.assinfo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.chip-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.chip-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.chip-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.chip-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 900px) {
  body {
    align-items: flex-start;  
    overflow: auto;
  }
  
  #chips {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .chip {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .chip {
    height: 180px;
  }
  
  .chip-image {
    height: 80px;  
  }
  
  .chip-image > i {
    font-size: 3em;
  }
    
  .assinfo {
    padding: 0px 10px;
  }
  
  .chip-info > i { 
    font-size: 0.8em; 
  }
  
  .chip-info-title > h3 {
    font-size: 0.9em;
  }

  .chip-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .chip {
    width: 100%;
  }
}
